<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form action="/submit-user" method="post">
        <input type="text" placeholder="Enter user name" name="name"><br><br>
        <input type="email" placeholder="Enter user email" name="email"><br><br>
        <input type="text" placeholder="Enter user age" name="age"><br><br>
        <button>Add User</button>
    </form>
</body>
</html>