<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="name" value="<%= result.name %>" placeholder="enter student name"><br><br>
        <input type="email" name="email" value="<%= result.email %>" placeholder="enter student email" ><br><br>
        <input type="text" name="age" value="<%= result.age %>" placeholder="enter student age"> <br> <br>
        <button>update student</button>
    </form>
</body>
</html>