h1 {
    color: blue;
}

a {
    text-decoration: none;
    color: green;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 10px;
}

a:hover {
    background-color: gray;
    color: white;
}